.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    width: 40px;
    height: 40px;
    background-color: #6C6C6C;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.015em;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.pagination-item:hover {
    color: black;
}

.pagination-item.active {
    background-color: #FFC700;
}

.pagination-link-active {
    background-color: #FFC700;
}

.arrow-inactive a {
    color: #9E9E9E;  
}

li a {
    color: #FFC700; 
}

.arrow-active {
    color: #FFC700;  
}

.arrow-previous {
    transform: rotate(-180deg);
    color: #FFC700;
}

.arrow-next{
    margin-left: 10px;
    color: #FFC700;
}

.pagination-arrow-container {
    display: flex;
    align-items: center;
}

.pagination-arrow-container {
    display: flex;
    align-items: center;
}

