.card-review-container {
    margin: auto;
    margin-bottom: 20px;
}

.user-name {
   display: flex;
   margin-bottom: 10px;
}

.user-name img {
    margin-left: 5px;
}

.user-name h1 {
    color: #FFF;
    font-size: 16px;
    margin-left: 15px;
    letter-spacing: -0.015em;
}

.card-review {
    padding: 10px 20px 20px 12px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

.card-review p {
    color: #9E9E9E;
    font-size: 16px;
    letter-spacing: -0.015em;
    text-align: justify;
    margin: 0;
}