.movie-details-container {
    background-color: #525252;
    min-height: calc(100vh - 68px);
    padding: 20px 10px;
}

.title-details {
    margin-bottom: 18px;
}
.title-details h1 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    padding-right: 20px;
}

@media (min-width: 1200px) {
    .movie-details-container {
        padding: 36px 40px;
    }

    .title-details h1 {
        font-size: 48px;
    }    

    .cards-reviews {
        padding: 10px 17px;
        margin-bottom: 30px;
    }

}