.card-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    max-width: 479px;
    height: 464px;
    margin: auto;
    padding: 0 17px;
}


.card-login-container h1 {
    
    font-size: 36px;
    font-weight: 400;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.card-login-input {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-login-container input {
    box-sizing: border-box;
    background: #FEFEFE;
    border: 1px solid #FEFEFE;
    border-radius: 4px;
    padding: 10px 0;
    padding-left: 14px;
    margin-bottom: 20px;
    height: 47px;
    width: 100%;
}


.card-login-container input ::placeholder {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}

.card-login-container button {
   margin: 35px 0;
}