.movies-container {
    background-color: #525252;
    padding: 10px;
    margin: 0 auto;
    height: calc(100vh - 68px);
}

.movies-container a {
    text-decoration: none;
}


@media (min-width: 576px) {
    .movies-container {
        padding: 20px;
    }

}

@media (min-width: 768px) {
    .movies-container {
        padding: 40px;
    }

}