.movies-container {
    background-color: #525252;
    padding: 10px;
    min-height: calc(100vh - 68px);
}

.movies-container a {
    text-decoration: none;
}

@media (min-width: 576px) {
    .movies-container {
        padding: 10px 20px;
    }
}

@media (min-width: 768px) {
    .movies-container {
        padding: 20px 40px;
    }
}

@media (min-width: 1200px) {
   .row {
        max-width: 1145px;
        margin: auto;
        margin-bottom: 20px;
   }

   .filter {
        max-width: 1120px;
        margin: auto;
        margin-bottom: 40px;
        margin-top: 20px;
   }

}


